<h2 class="text-center">Showing the award</h2>

<div class="text-center">
  <h3 class="mt-5">
    "<%= @badge.title %>" award
  </h3>
  <p>
    <img src="<%= @badge.img_url %>" alt="" width="30%" class="">
  </p>
  <p>
    Rule number:
    <%= @badge.rule_name %>
  </p>
</div>
