<h2>
  <%= t('.question', body: @answer.question.body) %>
</h2><br>

<h2>
  <%= t('.answer', body: @answer.body) %>
</h2><br>

<p>
  <%= t('.correct', correct: @answer.correct) %>
</p>

<%= link_to t('.back_to_question'), admin_question_path(@answer.question), class: 'btn btn-primary' %>
