<h1>
  <%= t('.question', body: @answer.question.body) %>
</h1>

<h1>
  <%= t('.answer', body: @answer.body) %>
</h1>

<p>
  <%= t('.correct', correct: @answer.correct) %>
</p>

<%= link_to t('.back_to_question'), admin_question_path(@answer.question) %>
