@font-face {
  font-family: 'Regular';
  src: font_url('regular.ttf') format("truetype");

}

body {
  font-family: 'Regular', bold, sans-serif;
  word-spacing: 7px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-bottom: 50px;
}

.btn-light:hover {
  background-color: red;
}

.pointer {
  cursor: pointer;
}

.wrapper {
  display: inline-block;
  margin: 0 0 20px 0;
}

.timer {
  position: absolute;
  top: 92px;
  left: 30px;
}
.info-user {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -38%;
  margin-top: -13%;
  z-index: 2;
  font-size: 8rem;
  width: 100%;
}

.passMatch {
  display: inline;
}

.passNotMatch {
  display: inline;
}

.hide {
  display: none;
}

.footer {
  position: fixed;
  width: 100%;
  height: auto;
  bottom: 0;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}