<h1>Tests:</h1>

<table>
  <thead>
    <tr>
      <th>Test id</th>
      <th>Title</th>
      <th>Level</th>
      <th>Question count</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <%= render @tests %>
</table>

<%= link_to "Create new Test", new_admin_test_path %>

