<h1>Tests:</h1>

<table>
  <thead>
    <tr>
      <th>Test id</th>
      <th>Title</th>
      <th>Level</th>
      <th>Question count</th>
      <th>Action</th>
    </tr>
  </thead>

  <%= render @tests %>
</table>

