<h1>Tests:</h1>

<table>
  <thead>
    <tr>
      <td>Test id</td>
      <td>Title</td>
      <td>Level</td>
      <td>Question count</td>
      <td>Action</td>
    </tr>
  </thead>

  <%= render @tests %>
</table>

