<nav class="navbar-fixed-bottom row-fluid navbar-light bg-success mt-3">
  <span class="navbar-text">
    Training project which is made with help of online school <a href="https://thinknetica.com/" target="_blank">Thinknetica</a>
    by <%= github_url('Apollo50', 'testGuru') %>
    <p> Minsk <%= current_year %></p>
  </span>
</nav>>
