<footer class="footer">
  <hr>
  <small>
    Training project which is made with help of online school <a href="https://thinknetica.com/" target="_blank">Thinknetica</a>
    by <a href="https://github.com/Apollo50/testGuru" target="_blank">Yauheni</a>
    <p> Minsk <%= Time.current.year %></p>
  </small>
</footer>
