<footer class="footer">
  <hr>
  <small>
    Training project which is made with help of online school <a href="https://thinknetica.com/" target="_blank">Thinknetica</a>
    by <%= github_url('Apollo50', 'testGuru') %>
    <p> Minsk <%= current_year %></p>
  </small>
</footer>
